:root {
  --black: #0a1f32;
  --grey_dark: #2d384a;
  --blue: #344756;
  --grey_light: #d2d2d2;
  --red: #ff4c2b;
}

html {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.calculator_container {
  width: 450px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: var(--grey_dark) solid 10px;
  border-radius: 10px 8px 0 0;
  margin-top: 100px;
}

.number_display {
  width: 380px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: var(--blue);
  color: var(--grey_light);
  margin: 25px;
  text-align: right;
  padding: 10px;
}

/* Max 42 characters */
.calc_history {
  width: 370px;
  height: 25px;
  line-height: 25px;
}

/* Max 19 characters */
.result {
  width: 370px;
  height: 45px;
  line-height: 45px;
  font-size: 35px;
}

.buttons_container {
  width: 400px;
  height: 425px;
  margin: 25px;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.buttons_container button {
  border: none;
  font-size: 30px;
  text-align: center;
  background-color: var(--grey_light);
  color: var(--grey_dark);
}

.buttons_container .remove {
  background-color: var(--red);
}

.buttons_container .operator {
  background-color: var(--blue);
  color: var(--grey_light);
}

.far,
.fas {
  font-size: 23px;
}

.btn_equals {
  grid-column: 4;
  grid-row: 4 / 6;
}

footer {
  margin-bottom: 10px;
  color: var(--grey_light);
}
